<div class="jumbotron" style="background-image: url('/assets/library.jpg')">
  <h1 style="color: white">Epic Library of America</h1>
</div>
<!-- going to attempt to add a new ui-view to load tab data -->
<tabs>
  <tab label="Welcome">Welcome to Epic Library of America!</tab>
  <tab label="Books">2</tab>
  <tab label="Authors">Authors</tab>
  <tab label="Genres">Genres</tab>
  <tab label="About">About</tab>
  <tab label="Contact">Contact</tab>
  <tab label="FAQ">FAQ</tab>
</tabs>
<ui-view></ui-view>
